* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 1500px;
    background-color: lightgray;
}

.static {
    position: static;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.container {
    position: relative;
    width: 500px;
    height: 300px;
    margin: 30px auto;
    background-color: brown;
    text-align: center;
}

.relative {
    position: relative;
    background-color: lightgreen;
    text-align: center;
    padding: 10px;
    width: 200px;
    top: 20px;
    left: 0;
}

.absolute {
    position: absolute;
    background-color: cyan;
    text-align: center;
    padding: 10px;
    width: 200px;
    top: 0;
    left: 0;
}

.fixed {
    position: fixed;
    background-color: crimson;
    padding: 20px;
    text-align: center;
    bottom: 0;
}