* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    background-color: rebeccapurple;
}

.item {
    background-color: orange;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

/*       grow  shrink  basis
 padrão: 0     1       auto
 Elemento não cresce, pode encolher e inicia com base no conteudo
*/

.flex-1 .item {
    flex: 1;
}

.flex .item {
    flex: 1 1 auto;
}

.flex-fixo .item {
    flex: 0 0 200px;
}

.flex-completo .item {
    flex: 1 1 250px;
}

