* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 640px;
    margin: 5px;
    padding: 10px;
    background-color: rebeccapurple;
}

.item {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    border-radius: 8px;
}

.srepeat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.crepeat {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.repeat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50px);
    gap: 10px;
}