* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.linha {
    display: flex;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    background-color: rebeccapurple;
}

.coluna {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: rebeccapurple;
}

.item {
    background-color: orange;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}