.banner {
    padding: 100px;
    color: white;
    text-align: center;
    background: linear-gradient(to right, blue 0%, purple 50%, navy 100%);
}

.secao {
    height: 300px;
    padding: 50px;
    color: white;
    background-image: url(/Image/eduardo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
}

.card {
    padding: 100px;
    color: white;
    text-align: center;
    background: radial-gradient(circle, navy 0%, purple 50%, crimson 100%);
}