body {
    margin: 0 500px 50px 500px;
}

.titulo {
    color: dodgerblue;
    text-align: center;
}

.project {
    color: royalblue;
}

.project p {
    color: rgb(22, 22, 22);
}

.project h3 {
    color: rgb(22, 22, 22);
    border: 5px solid lightsteelblue;
    background-color: aliceblue;
    padding: 6px;
}

.project img {
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: -6px 6px 4px black;
    margin: 0px auto;
    display: block;
    width: 300px;
    height: 300px;
}

