body {
    margin: 0 500px 50px 500px;
}

.titulo {
    color: dodgerblue;
    text-align: center;
}

.project {
    color: royalblue;
}

.project p {
    color: rgb(22, 22, 22);
}

.project h3 {
    color: rgb(22, 22, 22);
    border: 5px solid lightsteelblue;
    background-color: aliceblue;
    padding: 6px;
}

.project img {
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: -6px 6px 4px black;
    margin: 0px auto;
    display: block;
    width: 300px;
    height: 300px;
}

.project a {
    border: 3px solid blue;
    padding: 3px;
    border-radius: 7px;
    background-color: lightblue;
    text-decoration: none;
    color: black;
}

.project a:hover {
    border: 3px solid rgb(99, 99, 253);
    padding: 3px;
    border-radius: 7px;
    background-color: rgb(214, 245, 255);
    text-decoration: underline;
    color: rgb(71, 71, 71);
}

.contact {
    color: royalblue;
}

.contact p {
    color: rgb(22, 22, 22);
}

.contact h3 {
    color: rgb(22, 22, 22);
}

.contact a {
    text-decoration: none;
    color: navy;
}

.contact a:hover {
    text-decoration: underline;
    color: navy;
}