body {
    background-color: #383838;
    margin: 0;
    padding: 10px 40px;
}

h1 {
    color: brown;
    margin-bottom: 10px;
    text-align: center;
}

form {
    margin-left: 36%;
    background-color: #868686;
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    box-shadow: -4px 4px 7px black;
}

label {
    display: block;
    margin-top: 8px;
}

input, select, textarea {
    padding: auto;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-top: 3px;
}

input[type="radio"] + label, input[type="checkbox"] + label {
    display: inline-block;
}
